extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    if (filedirs && filedirs.length > 0)
      each val in filedirs
        tr
          td
            a(href="#{val}") #{val}
    else
      tr
        td No Data.